---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">
  <header>
     {%- if page.category -%}
     {% assign category_name = page.category | default: "" %}
     {% assign pretty_category_name = category_name | replace: "-", " " | capitalize %}
     <p class="eyebrow"><a aria-label="Go to '{{ pretty_category_name }}' landing page" href="{{ category_name | relative_url }}">{{ pretty_category_name }}</a></p>
     {% endif %}
     <h1 itemprop="name headline">{{ page.title | escape }}</h1>
     <p class="post-meta">
        {%- assign date_format = "%b %-d, %Y" -%}
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
           {{ page.date | date: date_format }}
        </time>
        {%- if page.author -%}
        {% for author in page.author %}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">{{ author }}</span></span>
        {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
        {%- endif -%}
        
        {%- include read_time.html content=page.content-%} 
        {%- include workshop.html  categories=page.categories-%}
        {%- include tags.html tags=page.tags-%}
        {%- include tech_stack.html tech=page.tech-%}
     </p>
  </header>
  <section itemprop="articleBody">
   {{ content }}
   {%- include get_the_code.html -%}
  </section>
  <a class="go-to-top no-print" href="#top">
    <svg width="14" height="14" viewBox="0 0 14 14" aria-hidden="true" focusable="false">
      <path d="M7 2.5 2.5 7.5M7 2.5 11.5 7.5M7 2.5V11.5" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    Top
  </a>
  <a class="u-url visually-hidden" href="{{ page.url | relative_url }}">{{ page.title | escape }}</a>
</article>
